
  <div class="test">
  <button cstyle="margin-top: 100px;"(click)="test()">Click here toGet Health Data</button>
  </div>
  <div class="test1">
    Steps : {{stepcount}}
  </div>
  <div class="test1">
    Heart Rate : {{heartRate}}
  </div>
  <div class="test1">
    BloodPressure Systolic : {{bloodPressureSystolic}}
  </div>
  <div class="test1">
    BloodPressure Diastolic : {{bloodPressureDiastolic}}
  </div>
  <div class="test1">
    BloodGlucose : {{bloodGlucose}}
  </div>
  <div class="test1">
    Height : {{currentHeight}}
  </div>
  <div class="test1">
    Weight : {{weight}}
  </div>
  <div class="test1">
    Body Mass Index : {{bmi}}
  </div> 
  <div class="test1">
    Body Fat Percentage : {{bodyFat}}
  </div> 
  <div class="test1">
    Lean Body Mass : {{leanBodyMass}}
  </div> 
  <div class="test1">
     Body Temperature : {{bodyTemperature}}
  </div> 
  <div class="test1">
    Respiratory Rate : {{respiratoryRate}}
  </div> 
  <div class="test1">
    Inhaler Usage : {{inhalerRate}}
  </div> 
  <div class="test1">
    Forced Expiratory Vol 1sec : {{forcedExpiratoryRate}}
  </div> 
  <div class="test1">
    Peak Expiratory Flow Rate : {{PeakExpiratoryFlowRate}}
  </div>

 
  